<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Home Page</title>
</head>
<body>

	<section
		class="banner d-flex justify-content-center align-items-center">

		<div class="text-center">
			<h1 class="font-weight-bold">Smart Contact Manager</h1>
			<p>A paragraph is a self-contained unit of discourse in writing
				dealing with a particular point or idea. A paragraph consists of one
				or more sentences.
			</p>
			<button class="btn bg-primary btn-lg text-white">Get Started</button>
		</div>
		

	</section>
</body>
</html>